@import 'normalize';
@import 'classes';

:root {
  --content-appear-time: .75s;
}

html {
  @include font-light;
  color: color('white');
  background: color('blue-dark');
}

html {
  font-size: 0.8333333333333333vw;

  @media screen and (max-width: point(xlg)) {
    font-size: 0.9333333333333333vw;
  }
  @media screen and (max-width: point(lg)) {
    font-size: 1.11111111111vw;
  }
  @media screen and (max-width: point(md)) {
    font-size: 1.481481481481481vw;
  }
  @media screen and (max-width: point(sm)) {
    font-size: 4.102564102564103vw;
  }
}

:root {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
  @each $name, $spacing in $spacings {
    --spacing-#{$name}: #{$spacing};
  }
  @each $name, $font in $fonts {
    --font-size-#{$name}: #{$font};
  }
}

@font-face {
  font-family: "Azonix";
  src: url("~@/assets/fonts/Azonix.otf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "PlusJakartaDisplay";
  src: url("~@/assets/fonts/PlusJakartaDisplay-Light.otf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "PlusJakartaDisplay";
  src: url("~@/assets/fonts/PlusJakartaDisplay-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "PlusJakartaDisplay";
  src: url("~@/assets/fonts/PlusJakartaDisplay-Medium.otf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "PlusJakartaDisplay";
  src: url("~@/assets/fonts/PlusJakartaDisplay-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: 700;
}



